.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #E5E5E5;
  padding: 30px;
}

.CardGrid {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.Card {
  width: 200px;
  display: flex;
  flex-direction: column;
}