.main {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.carousel {
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    touch-action: none;
}

.carouselItem {
    height: 100vh;
    touch-action: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border: 5px solid red;
    top: 0;
}

.carouselItemImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
    touch-action: none;
}

.carouselItemOverlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 6px;
}